/* Body part */
body {
    padding: 0;
}

.container {
    margin: 0;
    margin-top: 2%;
}

.col-10 {
    padding: 0 !important;
}

.col-2, .col-10 {
    border: 1px solid black;
}

.navbar-brand {
    margin: 0 !important;
}

#admin-profile-image {
    margin-right: 5%;
}

#dashboard-row {
    margin: 2% 0;
}

#dashboard-col {
    margin-top: 0;
}

#dashboard-card {
    border: 0;
}

#list-icon {
    margin-right: 2%;
}

tbody, thead {
    text-align: center;
}

thead tr {
    background-color: #369fdb;
    z-index: 1;
}

#cell-style-left {
    border-right: 1px solid gainsboro !important;
    border-bottom: 0;
}

#cell-style-right {
    border-bottom: 0;
}

.table {
    border-radius: 15px;
    margin-bottom: 0 !important;
}

.table tr {
    position: sticky;
    top: 0px;
}

.table-responsive {
    max-height: 180px;
    margin-top: 8%;
    box-shadow: 2px 2px 12px rgb(0 0 0 / 5%);
    border-radius: 15px;
}

::-webkit-scrollbar {
    display: none;
}

.piechart1 {
    margin-top: 10px;
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: conic-gradient(
        pink 70deg, 
        lightblue 0 235deg, 
        orange 0);
}

#analysis-row .col-md .h-100 {
    height: 250px !important;
}

.analysis-table td {
    text-align: end;
}

.analysis-table tr {
    border-bottom-style: hidden;
}

.pie-values {
    height: 230px;
    vertical-align: middle;
}

.pie-values-list-item1,
.pie-values-list-item2,
.pie-values-list-item3 {
    margin: 1% 0;
}

.pie-values-list-item4,
.pie-values-list-item5,
.pie-values-list-item6 {
    line-height: 20px;
    margin: 2% 0;
}

.pie-values-list-item1::before {
    content: " ";
    /* height: 10;
    width: 10; */
    position: absolute;
    top: 75px;
    z-index: 1;
    left: 225px;
    border: medium solid #24262b;
    border-width: 8px;
    border-color: orange;
}

.pie-values-list-item2::before {
    content: " ";
    position: absolute;
    top: 100px;
    z-index: 1;
    left: 225px;
    border: medium solid #24262b;
    border-width: 8px;
    border-color: pink;
}

.pie-values-list-item3::before {
    content: " ";
    position: absolute;
    top: 126px;
    z-index: 1;
    left: 225px;
    border: medium solid #24262b;
    border-width: 8px;
    border-color: lightblue;
}

.pie-values-list-item4::before {
    content: " ";
    /* height: 10;
    width: 10; */
    position: absolute;
    top: 70px;
    z-index: 1;
    left: 225px;
    border: medium solid #24262b;
    border-width: 8px;
    border-color: orange;
}

.pie-values-list-item5::before {
    content: " ";
    position: absolute;
    top: 110px;
    z-index: 1;
    left: 225px;
    border: medium solid #24262b;
    border-width: 8px;
    border-color: pink;
}

.pie-values-list-item6::before {
    content: " ";
    position: absolute;
    top: 146px;
    z-index: 1;
    left: 225px;
    border: medium solid #24262b;
    border-width: 8px;
    border-color: lightblue;
}

.pie-values-list li {
    list-style-type: none;
}

#barChart {
    width: 100%;
    max-width: 600px;
    height: 100% !important;
}