<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">All Adds</a>
      
      <a class="navbar-brand" href="#">
        <img src="/images/user.png" alt="" width="30" height="30" id="admin-profile-image"
          class="d-inline-block align-text-top">
        Admin
      </a>
    </div>
</nav>
<div class="card">
  <div class="card-body">
    <div class="dropdown">
      <!-- <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Select type
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Regular</a></li>
        <li><a class="dropdown-item" href="#">Full</a></li>
        <li><a class="dropdown-item" href="#">Banner</a></li>
      </ul> -->
      <div class="selection1">
          Action:
          <select class="form-select" aria-label="Default select example">
            <option selected>Regular Add</option>
            <option value="1">Banner Add</option>
            <option value="2">Full Add</option>
          </select>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success searchBtn" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
        </div>
    </div>
    <div class="selection2">
        Filter:
        <select class="form-select" aria-label="Default select example">
            <option selected>Regular Add</option>
            <option value="1">Banner Add</option>
            <option value="2">Full Add</option>
        </select>
    </div>
    
    <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th id="cell-style-left" scope="col" style="border-top-left-radius: BuyAddpx;">ID</th>
              <th id="cell-style" scope="col">Title</th>
              <th id="cell-style" scope="col">Company</th>
              <th id="cell-style" scope="col">Start Date</th>
              <th id="cell-style" scope="col">End Date</th>
              <th id="cell-style-right" scope="col">Costing</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="cell-style-left">0</td>
              <td id="cell-style">BuyAdd</td>
              <td id="cell-style-right">INOX</td>
              <td id="cell-style-right">12/12/15</td>
              <td id="cell-style-right">01/01/23</td>
            </tr>
            <tr>
              <td id="cell-style-left">1</td>
              <td id="cell-style-right">Abcd</td>
              <td id="cell-style-right">PVR</td>
              <td id="cell-style-right">12/12/15</td>
              <td id="cell-style-right">01/01/23</td>
            </tr>
            <tr>
              <td id="cell-style-left">2</td>
              <td id="cell-style-right">Solaris</td>
              <td id="cell-style-right">NewzBy</td>
              <td id="cell-style-right">12/12/15</td>
              <td id="cell-style-right">01/01/23</td>
            </tr>
            <tr>
              <td id="cell-style-left">3</td>
              <td id="cell-style-right">BuyAdd</td>
              <td id="cell-style-right">NewzBy</td>
              <td id="cell-style-right">12/12/15</td>
              <td id="cell-style-right">01/01/23</td>
            </tr>
            <tr>
              <td id="cell-style-left">4</td>
              <td id="cell-style-right">Abcd</td>
              <td id="cell-style-right">PVR</td>
              <td id="cell-style-right">12/12/15</td>
              <td id="cell-style-right">01/01/23</td>
            </tr>
            <tr>
              <td id="cell-style-left">5</td>
              <td id="cell-style-right">Solaris</td>
              <td id="cell-style-right">INOX</td>
              <td id="cell-style-right">12/12/15</td>
              <td id="cell-style-right">01/01/23</td>
            </tr>
            <tr>
              <td id="cell-style-left">6</td>
              <td id="cell-style-right">Solaris</td>
              <td id="cell-style-right">NewzBy</td>
              <td id="cell-style-right">12/12/15</td>
              <td id="cell-style-right">01/01/23</td>
            </tr>
            <tr>
              <td id="cell-style-left">7</td>
              <td id="cell-style-right">BuyAdd</td>
              <td id="cell-style-right">INOX</td>
              <td id="cell-style-right">12/12/15</td>
              <td id="cell-style-right">01/01/23</td>
            </tr>
            <tr>
              <td id="cell-style-left">8</td>
              <td id="cell-style-right">Abcd</td>
              <td id="cell-style-right">PVR</td>
              <td id="cell-style-right">12/12/15</td>
              <td id="cell-style-right">01/01/23</td>
            </tr>
            <tr>
              <td id="cell-style-left">9</td>
              <td id="cell-style-right">Solaris</td>
              <td id="cell-style-right">NewzBy</td>
              <td id="cell-style-right">12/12/15</td>
              <td id="cell-style-right">01/01/23</td>
            </tr>
          </tbody>
        </table>
    </div>

  </div>
</div>